<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/911 GT3/Gemini_Generated_Image_oe1azdoe1azdoe1a.png" class="card-img-top" alt="Card Image 1">
                <div class="card-body">
                    <h5 class="card-title">Porsche 911 GT3</h5>
                    <p class="card-text">O Porsche 911 GT3 é um carro esportivo de alta performance, conhecido por sua aerodinâmica avançada e motor boxer de aspiração natural.</p>
                    <a href="#" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/dodge demon/Gemini_Generated_Image_mcdj98mcdj98mcdj.png" class="card-img-top" alt="Card Image 2">
                <div class="card-body">
                    <h5 class="card-title">Dodge Challenger SRT Demon</h5>
                    <p class="card-text">O Dodge Challenger SRT Demon é um muscle car focado em arrancadas, famoso por sua potência extrema e desempenho impressionante na pista.</p>
                    <a href="#" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/ferrari f40/Gemini_Generated_Image_sh7cvdsh7cvdsh7c.png" class="card-img-top" alt="Card Image 3">
                <div class="card-body">
                    <h5 class="card-title">Ferrari F40</h5>
                    <p class="card-text">A Ferrari F40 é um ícone dos supercarros, celebrada por seu design puro, desempenho brutal e ser um dos últimos carros aprovados por Enzo Ferrari.</p>
                    <a href="#" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/ferrari purosangue/Gemini_Generated_Image_4dl8um4dl8um4dl8.png" class="card-img-top" alt="Card Image 4">
                <div class="card-body">
                    <h5 class="card-title">Ferrari Purosangue</h5>
                    <p class="card-text">O Ferrari Purosangue é o primeiro SUV da marca, combinando o luxo e a performance esperados de uma Ferrari com a versatilidade de um utilitário.</p>
                    <a href="#" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/GTR/Gemini_Generated_Image_q7gj4fq7gj4fq7gj.png" class="card-img-top" alt="Card Image 5">
                <div class="card-body">
                    <h5 class="card-title">Nissan GT-R</h5>
                    <p class="card-text">O Nissan GT-R, apelidado de "Godzilla", é um supercarro japonês que oferece desempenho de ponta com tração nas quatro rodas e tecnologia avançada.</p>
                    <a href="#" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/lamborghini sterrato/Gemini_Generated_Image_cfj8s7cfj8s7cfj8.png" class="card-img-top" alt="Card Image 6">
                <div class="card-body">
                    <h5 class="card-title">Lamborghini Huracán Sterrato</h5>
                    <p class="card-text">O Lamborghini Huracán Sterrato é um supercarro off-road, projetado para aventuras fora do asfalto com sua suspensão elevada e proteção extra.</p>
                    <a href="#" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/McLaren Senna/Gemini_Generated_Image_28bgnt28bgnt28bg.png" class="card-img-top" alt="Card Image 7">
                <div class="card-body">
                    <h5 class="card-title">McLaren Senna</h5>
                    <p class="card-text">O McLaren Senna é um hipercarro focado em pista, nomeado em homenagem ao lendário piloto, e construído para oferecer o máximo desempenho aerodinâmico.</p>
                    <a href="#" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/Rs6/Gemini_Generated_Image_y0ov6sy0ov6sy0ov.png" class="card-img-top" alt="Card Image 8">
                <div class="card-body">
                    <h5 class="card-title">Audi RS 6 Avant</h5>
                    <p class="card-text">A Audi RS 6 Avant é uma perua de alta performance, combinando o luxo e a praticidade de um carro familiar com o desempenho de um superesportivo.</p>
                    <a href="#" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/Rubicon/Gemini_Generated_Image_q1r191q1r191q1r1.png" class="card-img-top" alt="Card Image 9">
                <div class="card-body">
                    <h5 class="card-title">Jeep Wrangler Rubicon</h5>
                    <p class="card-text">O Jeep Wrangler Rubicon é um 4x4 robusto e icônico, construído para as trilhas mais desafiadoras, oferecendo capacidade off-road superior.</p>
                    <a href="#" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>