@{
    ViewData["Title"] = "Área de Vendas";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Área de Vendas</h1>
    <p class="lead text-center mb-5">Gerencie seus vendedores, clientes, carros e vendas.</p>

   <div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/Vendas/ChatGPT Image 24 de jun. de 2025, 13_53_30.png" class="card-img-top" alt="Card Image 1">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: black;">Vendedores</h5>
                    <p class="card-text"> Elevando a paixão e concretizando dos seus sonhos.</p>
                    <a href="#" type="button" class="btn btn-outline-secondary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/Vendas/ChatGPT Image 24 de jun. de 2025, 13_53_36.png" class="card-img-top" alt="Card Image 2">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: black;">Clientes</h5>
                    <p class="card-text">Apaixonados pelos motores e a velocidade, apreciadores da arte de quatro rodas.</p>
                    <a href="#" type="button" class="btn btn-outline-secondary">Ver Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card w-100">
                <img src="~/IMG/Vendas/ChatGPT Image 24 de jun. de 2025, 13_52_55.png" class="card-img-top" alt="Card Image 3">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: black;">Carros</h5>
                    <p class="card-text">Onde a engenharia encontra a Performance e a arte em alta velocidade.</p>
                    <a href="#" type="button" class="btn btn-outline-secondary">Ver Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>